body {
    color: white;
    font: normal 16pt arial;
    background-color: rgb(68, 125, 199);
    }

#container {
    text-align: center;
    align-items: center;
}

#head {
}

#content {
    margin: auto;
    padding: 10px;
    background: white;
    width: 350px;
    border-radius: 15px;
    
}

#time {
    font: normal 14pt helvetica;
    color: black;
}

#imgCenterPage {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#footer {
    font: normal 10pt times;
}